<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="imagetoolbar" content="no" />
  <title>Tweet</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/reply_box.css"/>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav">
        <li style="margin: 0;">
          <a href="#"><img src="./images/bird_48_blue.png"/></a>
        </li>
        <li style="width: 200px; text-align:center;">
          <a href="#" id="clock"></a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <a href="#" id="my_picture"></a>
        </li>
        <li>
          <a href="#" id="my_name"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <form class="form-horizontal" id="send" method="post">
    <div class="row-fluid">
      <div class="span12">
        <textarea class="input-xlarge" id="tweet" data-maxsize="140" rows="5" data-output="status1"></textarea>
      </div>
    </div>
    <div class="row-fluid" id="button-area">
      <div class="span6">
        <div id="status1"></div>
      </div>
      <div class="span6 pull-right">
        <input id="button" name="Button" type="button" value="Tweet"/>
      </div>
    </div>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="scripts/plugin/jqClock.min.js"></script>
<script src="scripts/plugin/maxlength.js"></script>
<script src="scripts/lib.js"></script>
<script src="scripts/jsoauth.js"></script>
<script src="scripts/intents.js"></script>
</body>
</html>
