<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="ja" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="imagetoolbar" content="no" />
  <title>Twittpane</title>
  <meta http-equiv="refresh" content="1800">
  <meta http-equiv="pragma" content="no-cache">
{{response.files.append(URL('static','css/bootstrap.min.css'))}}
{{response.files.append(URL('static','css/twittpane/twitter.css'))}}
{{response.files.append(URL('static','js/twittpane/lib.js'))}}
{{response.files.append(URL('static','js/bootstrap.min.js'))}}
{{response.files.append(URL('static','js/twittpane/plugin/jquery.bottom-1.0.js'))}}
{{response.files.append(URL('static','js/twittpane/plugin/jquery.thumbs.js'))}}
{{response.files.append(URL('static','js/twittpane/plugin/bignumber.js'))}}
{{response.files.append(URL('static','js/twittpane/plugin/jsOAuth-1.3.4.min.js'))}}
{{response.files.append(URL('static','js/twittpane/plugin/jquery.cookie.js'))}}
{{response.files.append(URL('static','js/twittpane/jsoauth.js'))}}
{{response.files.append(URL('static','js/twittpane/twittpane.js'))}}
{{response.files.append(URL('static','js/twittpane/twitter.js'))}}
{{include 'web2py_ajax.html'}}
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <ul class="nav">
        <li>
          <a href="https://twitter.com/" target="_blank"><img id="home_icon" src="../static/images/twittpane/icon48.png" width="20" height="20"></a>
        </li>
        <li class="active">
          <a href="https://twitter.com/" target="_blank">Home</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <a href="#"><span id="my_title">#</span></a>
        </li>
        <li><a href="https://chrome.google.com/webstore/detail/ajklfbgfihdpbbbnjpbhpjlmefloailb" target="_blank">about</a>
        </li>
        <li><a href="#" id="logout">logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid"> 
  <div class="row-fluid">
    <!-- #col0 -->
    <div class="span4" id="col0">
      <div class="head" id="head_home_timeline">
        <div class="row-fluid">
          <div class="span1" id="open_tweetarea_button">
            <a href="#"><img id="open_tweetarea" src="../static/images/twittpane/bird_32_blue.png" width="20" height="20" title="Tweet"></a>
          </div> <!-- #open_tweet_area_button -->
        </div> <!-- .row-fluid -->

      </div> <!-- .head -->
      <div class="home_pane" id="home_timeline"></div>
    </div>
    <!-- #col0 -->

    <!-- #col1 -->
    <div class="span4" id="col1">
      <div class="head" id="head_tweets1" word="">

        <ul class="nav nav-pills" nowrap>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                #
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu"></ul>
          </li>
          <form class="navbar-search" onsubmit="return false">
            <input type="text" class="search-query" placeholder="Search">
          </form>
        </ul>

      </div> <!-- .head -->
      <div class="pane" id="tweets1" word="#" pane_id="1"></div>
    </div> <!-- #col1 -->

    <!-- #col2 -->
    <div class="span4" id="col2">
      <div class="head" id="head_tweets2" word="">

        <ul class="nav nav-pills">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                #
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
          <form class="navbar-search" onsubmit="return false">
            <input type="text" class="search-query" placeholder="Search">
          </form>
        </ul>

      </div> <!-- .head -->
    <div class="pane" id="tweets2" word="#" pane_id="2"></div>
    </div> <!-- #col2 -->

  </div> <!-- .container-fluid -->

<div id="footer"></div>
</body> 
</html>

